<body background="/assets/images/home/pass.jpeg">  
    <section>
        <br><br><br><br><br><br><br><br>
      <div class="container-fluid">
        <h2 style="text-align:center;color:white"><b>Enter Details</b></h2>
        <!-- <div class="card"> -->
          <div class="card-body">
            <form [formGroup]="newPassform" (ngSubmit)="onsubmit()">
              
               <div class="row justify-content-center">
                <div class="col-md-8">
                  <div class="form-group">
                    <label style="color:white"><b> New Password* </b></label>
                    <input type="password" id="password" formControlName="password" maxlength="50" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div style="color:red" *ngIf="f.password.errors.required">New password  is required</div>
                  </div>
                  </div>
                </div>
              </div>
  
                <div class="row justify-content-center">
                <div class="col-md-8">
                  <div class="form-group">
                    <label style="color:white"><b> Confirm Password* </b></label>
                    <input type="password" id="confirmpassword" formControlName="confirmpassword" maxlength="50" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }">
                  <div *ngIf="submitted && f.confirmpassword.errors" class="invalid-feedback">
                  <div style="color:red" *ngIf="f.confirmpassword.errors.required">confirm password  is required</div>
                  </div>
                  </div>
                </div>
              </div>
  
             
              <div class="row justify-content-center">
                <div class="form-group">
                  <button style="margin-left:20px" type="submit" id="submit_btn" class="btn btn-primary"> Submit </button>
                </div>
              </div>
            </form>
          </div>
        <!-- </div> -->
      </div>
    </section>
    <section>
      <br><br><br><br><br><br><br><br><br><br><br><br>
    </section>
  </body> 