<!DOCTYPE html>
<html lang="en">
<!-- <head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>>
</head> -->
<br><br>
  <body>
        <p-table [value]="products" [paginator]="true" [rows]="4">
        <ng-template pTemplate="header">
            <tr>
                    <th>ProductName</th>
                    <th>Company</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Cost</th>
                    <th>Image</th>
                    <th>Action</th>

            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-a>
         <tr>
              <td>{{ a.productname }}</td>
              <td>{{ a.productcompanyname }}</td>
              <td>{{ a.productdescription}}</td>
              <td>{{ a.productcategory }}</td>
              <td>{{ a.productcost }}</td>
              <td><img src="{{ a.image }}" alt="" width="30px"></td>
              <td><a [routerLink]="['/dash-view/editProduct',a._id]" class="btn btn-success">Edit </a> 
              <button (click)="deleteProduct(a._id)"  class="btn btn-danger">Delete</button></td>
            </tr>
        </ng-template>
    </p-table>

</body>
</html>