<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="large"
  color="#fff"
  type="ball-scale-multiple">
      <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<br><br>
<body>
    
  <section>

    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <h4><b>Shipping Address Form</b></h4>
        </div>
        <div class="card-body">
          <form [formGroup]="myform">
            <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="form-group">
                  <br>
                  <label><b> Firstname* </b></label>
                  <input type="text" id="firstname" formControlName="firstname" maxlength="100" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }">
                  <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
                    <div style="color:red" *ngIf="f.firstname.errors.required">Firstname is required</div>
                    <div style="color:red" *ngIf="f.firstname.errors.pattern">Please enter only alphabetical letters.</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8">
                  <div class="form-group">
                    <br>
                    <label><b> Lastname* </b></label>
                    <input type="text" id="lastname" formControlName="lastname" maxlength="100" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }">
                    <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                      <div style="color:red" *ngIf="f.lastname.errors.required">Lastname is required</div>
                      <div style="color:red" *ngIf="f.lastname.errors.pattern">Please enter only alphabetical letters.</div>
                    </div>
                  </div>
                </div>
              </div>

            <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="form-group">
                  <label><b>E-mail*</b></label>
                  <input type="text" id="email" formControlName="email" maxlength="100" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div style="color:red" *ngIf="f.email.errors.required">Email is required</div>
                    <div style="color:red" *ngIf="f.email.errors.email">Email must be a valid email address</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="form-group">
                  <label><b> Contact* </b></label>
                  <input type="text" id="contact" formControlName="contact" maxlength="10" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.contact.errors }">
                  <div *ngIf="submitted && f.contact.errors" class="invalid-feedback">
                    <div style="color:red" *ngIf="f.contact.errors.required">contact is required</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8">
                  <div class="form-group">
                    <br>
                    <label><b> Address* </b></label>
                    <textarea type="text" id="address_line_1" formControlName="address_line_1" maxlength="100" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.address_line_1.errors }"></textarea>
                    <div *ngIf="submitted && f.address_line_1.errors" class="invalid-feedback">
                      <div style="color:red" *ngIf="f.address_line_1.errors.required">Address is required</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row justify-content-center">
                  <div class="col-md-8">
                    <div class="form-group">
                      <br>
                      <label><b> Alternate_Address  (optional) </b></label>
                      <textarea type="text" id="address_line_2" formControlName="address_line_2" maxlength="100" class="form-control"></textarea>
                  
                    </div>
                  </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-md-8">
                      <div class="form-group">
                        <br>
                        <label><b> State* </b></label>
                        <select id="state" formControlName="state" maxlength="50" class="form-control"[ngClass]="{ 'is-invalid': submitted && f.state.errors }">
                            <option>Alabama</option>
                            <option>California</option>
                            <option>Florida</option>
                            <option>Maryland</option>
                            <option>New Hampshire</option>
                            <option>Washington</option>
                        </select>
                        <!-- <input type="text" id="state" formControlName="state" maxlength="100" class="form-control" -->
                          <!-- [ngClass]="{ 'is-invalid': submitted && f.state.errors }"> -->
                        <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                          <div style="color:red" *ngIf="f.state.errors.required">State is required</div>
                        </div>
                      </div>
                    </div>
                  </div>
             
                  <div class="row justify-content-center">
                      <div class="col-md-8">
                        <div class="form-group">
                          <br>
                          <label><b> Country* </b></label>
                          <select id="country" formControlName="country" maxlength="50" class="form-control"[ngClass]="{ 'is-invalid': submitted && f.country.errors }">
                              <option> United States </option>
                          </select>
                          <!-- <input type="text" id="country" formControlName="country" maxlength="10" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.state.errors }"> -->
                          <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                            <div style="color:red" *ngIf="f.country.errors.required">Country is required</div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-md-8">
                          <div class="form-group">
                            <br>
                            <label><b> City* </b></label>
                            <select id="city" formControlName="city" maxlength="50" class="form-control"[ngClass]="{ 'is-invalid': submitted && f.city.errors }">
                                <option>Alexander City</option>
                                <option>Phenix City</option>
                                <option>Lake Havasu City</option>
                                <option>Maryland</option>
                                <option>Santa Rosa</option>
                                <option>Norwalk</option>
                                <option>Woodland</option>
                                <option>Canon City</option>
                                <option>Middletown</option>
                            </select>
                            <!-- <input type="text" id="city" formControlName="city" maxlength="100" class="form-control"
                              [ngClass]="{ 'is-invalid': submitted && f.state.errors }"> -->
                            <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                              <div style="color:red" *ngIf="f.city.errors.required">City is required</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row justify-content-center">
                          <div class="col-md-8">
                            <div class="form-group">
                              <br>
                              <label><b> Zipcode* </b></label>
                              <input type="text" id="zipcode" formControlName="zipcode" maxlength="6" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.zipcode.errors }">
                              <div *ngIf="submitted && f.zipcode.errors" class="invalid-feedback">
                                <div style="color:red" *ngIf="f.zipcode.errors.required">Zipcode is required</div>
                              </div>
                            </div>
                          </div>
                        </div>
                     
                     <button type="button" (click)="onSubmit()" class="btn btn-success btn-lg float-right">submit</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</body>
</html>

