<!DOCTYPE html>
<html lang="en">
<br><br>
  <body>
    
    <p-table [value]="products" [paginator]="true" [rows]="4">
            <ng-template pTemplate="header">
                <tr>
                        <th>Title</th>
                        <th>Blog Description</th>
                        <th>Image</th>
                        <th>Action</th>
    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-a>
                <tr>
                               
                        <td>{{ a.title }}</td>  <!-- interpolation binding was performed for title -->
                        <td [innerHTML]="a.blog"></td>  <!-- Property binding was performed for blog -->
                        <td><img src="{{ a.image }}" alt="" width="20px"></td>
                        <td><a [routerLink]="['/dash-view/editBlog',a._id]" class="btn btn-success">Edit </a> /
                        <button (click)="deleteBlog(a._id)"  class="btn btn-danger">Delete</button></td>
                </tr>
            </ng-template>
        </p-table>
</body>
</html>