<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body background="/assets/images/home/log.jpg">
  <br><br><br>
  <div class="container-fluid" style="margin-left: 250px">
    <div class="card">
      <div class="card-header">
        <h4><b>LogIn Form</b></h4>
      </div>
      <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="onsubmit()">
          <div class="form-group">
            <label>E-mail*</label>
            <input type="text" class="form-control" formControlName="email" id="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
              required>
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div style="color:red" *ngIf="f.email.errors.required">Email is required</div>
              <div style="color:red" *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
          </div>
          <div class="form-group">
            <label>Password*</label>
            <input type="password" class="form-control" formControlName="password" id="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
              required>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div style="color:red" *ngIf="f.password.errors.required">Password is required</div>
              <div style="color:red" *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
          </div>
          <button type="submit" class="btn btn-success btn-lg float-right" id="btnLogin">Login</button>
          <br>
          <br>
          <!-- <a>forgot you password ?</a> -->
        </form>
      </div>
    </div>
  </div>
  <section>
    <br><br><br><br>
    <br><br><br><br>
    <br><br><br><br><br><br><br><br><br>
  </section>
</body>

</html>