<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body background="/assets/images/home/password.jpg">
  <br><br><br><br><br><br><br><br><br><br>
  <section>

  <div class="container-fluid" style="margin-left: 100px">
    <div class="card">
        <div class="card-header">
            <h4><b>Reset Password Form</b></h4>
          </div>
      <div class="card-body">
        <form [formGroup]="oldPasswordForm" (ngSubmit)="onsubmit()">
          <div class="form-group">
            <label>Old-Password*</label>
            <input type="password" class="form-control" formControlName="password" id="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div style="color:red" *ngIf="f.password.errors.required">Password is required</div>
                            <div style="color:red" *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
          </div>
          <button  style="margin-left:20px" type="submit" class="btn btn-primary" id="submit_btn">Submit</button>
          <br>
          <br>
        </form>
      </div>
    </div>
  </div>
</section>
<section>
  <br><br><br><br>
  <br><br><br><br>
  <br><br><br><br><br>
</section>
</body>  
</html>