  .card {
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 50px;
    margin-bottom: 50px
  }

  select {
    width: 100%
  }
  body{
    background-repeat: no-repeat;background-size: cover
}