<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="https://use.fontawesome.com/c560c025cf.js"></script>
<br><br>
<div class="container">
        <h1 style="text-align: center"> {{empty}}</h1>
    <div class="card shopping-cart">
        <div class="card-header bg-dark text-light">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            Shipping cart
            <a href="" class="btn btn-outline-info btn-sm pull-right">Continue shopping</a>
            <div class="clearfix"></div>
        </div>
        <div class="card-body" *ngFor="let userData of userData; let i = index;">
            <!-- PRODUCT -->
            <div class="row">
                <div class="col-12 col-sm-12 col-md-2 text-center">
                        
                    <img class="img-responsive" src="{{userData.product_id.image}}" alt="prewiew" width="120" height="80">
                </div>
                <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
                    <h4 class="product-name"><strong>{{userData?.product_id?.productname}}</strong></h4>
                    <h5>
                        <small>{{userData?.product_id?.productdescription}}</small>
                    </h5>
                </div>
                <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
                    <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
                        <h6><strong>{{userData?.productPrice}} $<span class="text-muted"> x </span></strong></h6>
                    </div>
                    <div class="col-4 col-sm-4 col-md-4">
                        <!-- <div class="quantity">
                                    <input  type="number" step="1" max="99" min="1" value="1" title="Qty" class="qty"
                                           size="4" >
                                </div> -->
                        <p-spinner size="4" (click)="updatecart(userData, i)" [(ngModel)]="userData.quantity" [min]="1"
                            [max]="10"></p-spinner>
                    </div>
                    <div class="col-2 col-sm-2 col-md-2 text-right">
                        <button type="button" class="btn btn-outline-danger btn-xs" (click)="deleteCart(userData._id)">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </div>

                </div>
            </div>
            <hr>
            <hr>

        </div>
        <div class="card-footer">
            <div class="pull-right" style="margin: 10px">
                <button [disabled]="buttonStatus" routerLink='/shipping/shipping-detail' class="btn btn-success pull-right">Checkout</button>
                <div class="pull-right" style="margin: 5px">
                    Total price: {{amount}}$
                </div>
            </div>
        </div>
    </div>
</div>