<!-- <head>    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head> -->
<hr>
<h5 style="color:firebrick" class="glyphicon glyphicon-user" style="font-size:20px"> Welcome, {{name}}</h5>
<hr>
<br>
<img src="/assets/images/dash/jeans.jpg" alt="Jeans" style="width:100%">

<!-- <p-toast [style]="{marginTop: '80px'}"></p-toast> -->
<hr>
<h3 style="text-align: center">Chart</h3>
<br>
<br>
<p-chart type="line" [data]="data"></p-chart>