<div class="container">
<hr>
  <h1 style="text-align:center"><b>Order Summary</b></h1>
  <hr>
  <div *ngFor ="let shipping of finalShippingList">
    <h4><span><b>Name:</b></span> &nbsp; &nbsp; &nbsp; {{shipping.firstname}} {{shipping.lastname}}</h4>
    <h4><span><b>Address:</b></span>&nbsp; {{shipping.address_line_1}},<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {{shipping.city}}, {{shipping.state}},<br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {{shipping.country}},<br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {{shipping.zipcode}}</h4>
    <h4><span><b>E-mail:</b></span> &nbsp; &nbsp; &nbsp;{{shipping.email}}</h4>
    <h4><span><b>Contact:</b></span> &nbsp; {{shipping.contact}}</h4> 
  </div>
   <br>
  <h3><b>Product Details</b></h3>
   <p-table [value]="finalCartList" [responsive]="true">
      <ng-template pTemplate="header">
          <tr>
                  <th scope="col">Product ID</th>
                  <th scope="col">Product Name</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Price</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
          <tr>
                <td>{{ product.product_id }}</td>
                <td>{{ product.productname }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.productPrice }}</td>
          </tr>
      </ng-template>
  </p-table> 
  <br>
  <h4><span><b>Transaction ID:</b></span> &nbsp; {{finalSummary?.transaction_id}}</h4>  
  <h3 style="margin-left:845px">Total: ${{ finalSummary?.total_amount}} </h3>
  <h5 ><b>Date:</b>  {{ finalSummary?.date | date:'fullDate'}} </h5>
  </div>
  
  




