

.work img:hover {
    width:200%; 
}
body{margin-right:0px; overflow-x: hidden;}
header img{width:100%; height:auto;position: relative;top: 0 px;}

 img{transition: 0.4s}
 img:hover{width: 100%;height: auto}