<!-- <h1>{{userData.image}}</h1> -->
<!DOCTYPE html>
<html lang="en">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--- Include the above in your HEAD tag ---------->
<br>
<article class="bg-secondary mb-3">
  <div class="card-body text-center">
    <h4 class="text-white">Ajio </h4>
    <img src="/assets/images/ajio.jpg" alt="ajio" style="width:100%">

 </div>
</article>
 <div class="container">
  <br><br>

  <div class="card">
    <div class="row">
      <aside class="col-sm-5 border-right">
        <article class="gallery-wrap">
          <div class="img-big-wrap">
            <div> <a><img src="{{userData?.image}}"></a></div>
          </div> 
        </article> 
      </aside>
      <div class="col-sm-7">
        <div class="card-body p-5">
          <font color="grey" size="50px" class="row justify-content-center"><b>AJIO</b></font>
          <br>
          <dl class="item-property">
            <dt>Description</dt>
            <dd>
              <p>{{userData?.productdescription}} </p>
            </dd>
          </dl>
          <hr>
          <dl class="param param-feature">
            <dt>Model</dt>
            <br>
            <dd>12345611</dd>
          </dl> 
          <hr>
          <dl class="param param-feature">
            <dt>Color</dt>
            <dd>Black and white</dd>
          </dl> 
          <hr>
          <dl class="param param-feature">
            <dt>Price</dt>
            <dd>Rs. {{userData?.productcost}}</dd><del color="grey" class="price-old">Rs .1980</del>
          </dl> 

          <hr>
          <div class="row">
            <div class="col-sm-5">
              <dl class="param param-inline">
                <dt>Quantity: </dt>
                <dd>
                  <select class="form-control form-control-sm" style="width:70px;">
                    <option> 1 </option>
                    <option> 2 </option>
                    <option> 3 </option>
                  </select>
                </dd>
              </dl> 
            </div> 
            <div class="col-sm-7">
              <dl class="param param-inline">
                <dt>Size: </dt>
                <dd>
                  <label class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <span class="form-check-label">SM</span>
                  </label>
                  <label class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <span class="form-check-label">MD</span>
                  </label>
                  <label class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <span class="form-check-label">XXL</span>
                  </label>
                </dd>
              </dl> 
            </div> 
          </div> 
          <hr>
          <a routerLink='/shipping/shipping-detail' class="btn btn-lg btn-success text-uppercase"> Buy now </a>
          <a (click)="onSubmit()" class="btn btn-lg btn-outline-primary text-uppercase" style="margin-left:10px"> <i class="glyphicon glyphicon-shopping-cart"></i> Add
            to cart </a>
        </div> 
      </div> 
    </div> 
  </div> 


</div>



<br><br><br>
<article class="bg-secondary mb-3">
  <div class="card-body text-center">
    <h4 class="text-white">Ajio </h4>
    <br>
   <h6>We Respect Your Privacy</h6><br>
   <h6>Terms & Conditions</h6><br>
   <h6>Returns & Refunds Policy</h6><br>
 </div>
</article>

</html>





