<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<br>
<body>
 <hr>
<div class="container">
  <h3 style="text-align:center"><b>Blogs</b></h3>
  <font color="grey"><i>“Fashion is part of the daily air and it changes all the time, with all the events. You can even see the approaching of a revolution in clothes. You can see and feel everything in clothes.”</i></font>
  <br><br>
  <hr>
  <div class="row">
  <div class="col-sm-12" *ngFor="let a of blogList">
      <div class="img-fluid" style="width:400px">
        <img class="card-img-top" src="{{a.image}}" alt="Card image" alt="blogs images" style="margin-left:330px">
      </div>
      <br>
      <p style="font-size: 110%" class="card-title"><b>{{ a.title }}</b></p>
      <font color="grey" innerHtml="{{a.blog}}"> </font>
<hr>
    </div>
    <br><br>
    <div class="container">
      <div class="row">
         <div class="col-md-8">
    <h4>Comments</h4>
    <br><br>

<p-scrollPanel [style]="{width: '300%', height: '400px'}" styleClass="custom" >

    <div class="col-md-12" *ngFor="let user of commentList">
        <h5><b>By: {{user.userid.fullname}}</b></h5>

        <p-rating  [ngModel]="user.rating" readonly="true" [cancel]="false"></p-rating>
        <h5>{{user.comment}}</h5>
        <br>
        <h6>{{user.date | date:'fullDate'}}</h6>
        <br>
        <hr>
    </div>
</p-scrollPanel>
<br><br>
<h6><b> Rating </b></h6>
<br>
       <p-rating [(ngModel)]="val" name='val'></p-rating>
      <div>
          <div class="col-md-8">
            <div class="form-group">
              <label><b> Comment </b></label>
              <textarea  class="form-control" rows="5" cols="90" style="width: 900px" id="comment" maxlength="1000" class="form-control"></textarea>
            </div>
          </div>
        </div>

        <div>
            <div class="col-md-8">
              <div class="form-group">
        <button style="margin-left:3px" type="submit" id="submit_btn" class="btn btn-primary" (click)="onSubmit()"> Post </button>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</body>
</html>

