header{padding-bottom: 30px}
label{margin-left: 10px;padding-right: 50px}
p{color: red}
.card-header{text-align: center}
.card-footer{text-align: right}
.card{margin-left:30%;margin-right: 30%;margin-top:50px;margin-bottom: 50px}
select{width:100%}
body{
    background-repeat:no-repeat;
    background-size:cover;
 
}