    <!DOCTYPE html>
    <html lang="en">
    <br><br>
      <body>
            <p-table [value]="products" [paginator]="true" [rows]="5">
            <ng-template pTemplate="header">
                <tr>
                        <th>Fullname</th>
                        <th style="width:190px">E-mail</th>
                        <th style="width:500px">Password</th>
                        <th>Role</th>
                        <th>Action</th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-a>
                    <tr>
                        <td>{{ a.fullname }}</td>
                        <td>{{ a.email }}</td>
                        <td>{{ a.password}}</td>
                        <td>{{ a.role }}</td>
                        <td><a [routerLink]="['/dash-view/editUser',a._id]" class="btn btn-success">Edit </a> <br>
                            <button (click)="deleteProduct(a._id)"  class="btn btn-danger">Delete</button></td>
                    </tr>
                </ng-template>
            </p-table>
    </body>
    <!-- <section>
            <br><br><br><br>
            <br><br><br><br>
            <br><br><br><br>
      
        
        
        </section> -->
    </html>