<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<br>
<body>
 
<div class="container">
  <h3 style="text-align:center"><b>Blogs</b></h3>
  <font color="grey"><i>“Fashion is part of the daily air and it changes all the time, with all the events. You can even see the approaching of a revolution in clothes. You can see and feel everything in clothes.”</i></font>
  <br><br>
  <div class="row">
  <div class="col-sm-4" *ngFor="let a of products">
      <div class="card img-fluid" style="width:500px">
        <img class="card-img-top" src="{{a.image}}" alt="Card image" alt="blogs images" style="height:100%">
        <br><hr>
        <div class="card-img">
          <p style="text-align: center ;font-size: 110%" class="card-title"><b>{{ a.title }}</b></p>
          <!-- <p class="card-text" [innerHTML]="a.blog"></p>  -->
          <!-- <a [routerLink]="['/blog-detail/blog-view',a._id]" class="btn btn-primary">View More</a> -->
          <p style="text-align: center"><a [routerLink]="['/blog-detail/blog-view',a._id]">Read More</a></p>
        <br>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
