<head>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
</head>
<div class="sidenav">
  <h2 style="text-align:center">AJIO</h2>
  <br>      
  <a routerLink="/users/user-dashboard">Home</a>
  <br>
  <button class="dropdown-btn">Update<i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a [routerLink]="['/users/old-password',userid]">Change Password</a>
    <a [routerLink]="['/users/edit-profile',userid]">Edit Profile</a>
  </div>
  <br>
  <button class="dropdown-btn">Our Products<i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a routerLink="/jeans-view/jeans">Jeans</a>
    <a routerLink="/shirt-view/shirts">Tops</a>
  </div>
  <br>
  <button class="dropdown-btn" routerLink="/blog-view/blogs">Blogs
  </button>
  <!-- <div class="dropdown-container">
    <a routerLink="/dash-view/listProduct">List Products </a>
    <a routerLink="/dash-view/addProduct">Add Products</a>
  </div> -->
  <br>
  <p>
    <a routerLink="/addtocart/cartlist" class="btn btn-info btn-lg">
      <span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart
    </a>
  </p>
  <br>
|<br>
  <button type="button" style="margin-left:20px" class="w3-button w3-red w3-margin-bottom" (click)="logout()">Logout</button>
</div>