<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<br><br><br><br>
<body>  
  <section>
    <div class="container-fluid">
      <div class="card">
        <br>
        <div class="card-body">
          <form [formGroup]="myform" (ngSubmit)="onsubmit()">
            
             <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="form-group">
                  <label><b> Productname </b></label>
                  <input type="text" id="productname" formControlName="productname" maxlength="100" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.productname.errors }">
                <div *ngIf="submitted && f.productname.errors" class="invalid-feedback">
                            <div style="color:red" *ngIf="f.productname.errors.required">Productname is required</div>
                            <div style="color:red" *ngIf="f.productname.errors.productname">Productname must be  valid </div>

                          </div>
                </div>
              </div>
            </div>

            
            <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="form-group">
                  <label><b>Productcompanyname</b></label>
                  <input type="text" id="productcompanyname" formControlName="productcompanyname" maxlength="100" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.productcompanyname.errors }">
                  <div *ngIf="submitted && f.productcompanyname.errors" class="invalid-feedback">
                            <div style="color:red" *ngIf="f.productcompanyname.errors.required">Productcompanyname is required</div>
                            <div style="color:red" *ngIf="f.productcompanyname.errors.productcompanyname">Productcompanyname must be valid</div>
                        </div>
                </div>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="form-group">
                  <label><b> Productdescription </b></label>
                  <input type="text" id="text" formControlName="productdescription" maxlength="100" class="form-control">
                      <div *ngIf="submitted && f.productdescription.errors" class="invalid-feedback">
                            <div style="color:red" *ngIf="f.productdescription.errors.required">Productdescription is required</div>
                            <div style="color:red" *ngIf="f.productdescription.errors.minlength">Productdescription must be valid</div>
                        </div>
                </div>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="form-group">
                  <label><b> Productcategory </b></label>
                  <input type="text" id="productcategory" formControlName="productcategory" maxlength="10" class="form-control">
                      <div *ngIf="submitted && f.productcategory.errors" class="invalid-feedback">
                            <div style="color:red" *ngIf="f.productcategory.errors.required">Productcategory is required</div>
                            <div style="color:red" *ngIf="f.productcategory.errors.minlength">Productcategory should be valid </div>
                        </div>
                </div>
              </div>
            </div>  

            <div class="row justify-content-center">
                <div class="col-md-8">
                  <div class="form-group">
                    <label><b> Productcost </b></label>
                    <input type="number" id="productcost" formControlName="productcost" maxlength="10" class="form-control">
                        <div *ngIf="submitted && f.productcost.errors" class="invalid-feedback">
                              <div style="color:red" *ngIf="f.productcost.errors.required">Productcost is required</div>
                              <div style="color:red" *ngIf="f.productcost.errors.minlength">Productcost should be valid </div>
                          </div>
                  </div>
                </div>
              </div> 

              <div class="row justify-content-center">
                <div class="col-md-8">
                  <div class="form-group">
                    <label><b>Image</b></label>
                    <input type="file" id="file" (change)="onFileChange($event)" #fileInput class="form-control" [ngClass]="{ 'is-invalid': submitted && f.file.errors }">
                    <div *ngIf="submitted && f.file.errors" class="invalid-feedback">
                              <div style="color:red" *ngIf="f.file.errors.required">Image must be add</div>
                          </div>
                  </div>
                </div>
              </div> 
              
            <div class="row justify-content-center">
              <div class="form-group">
                <button style="margin-left:20px" type="submit" id="submit_btn" class="btn btn-primary"> Update </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</body>
</html>