<br><br>

<p-table [value]="commentList" [paginator]="true" [rows]="4">
  <ng-template pTemplate="header">
      <tr>
              <th>Username</th>
              <th>Comments</th>
              <th>Rating</th>
              <th>Date</th>
              <th>Action</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-a>
      <tr>
              <td>{{ a.userid.fullname }}</td>
              <td>{{ a.comment }}</td>
              <td>{{ a.rating }}</td>
              <td>{{ a.date | date:'fullDate' }}</td>
              <td><button (click)="deleteComment(a._id)"  class="btn btn-danger">Delete</button></td>
      </tr>
  </ng-template>
</p-table>
