<div class="sidenav">
  <h2 style="text-align:center">AJIO</h2>
  <br>
  <a routerLink="">Home</a>
  <br>
  <button class="dropdown-btn">Manage Users<i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a routerLink="/dash-view/listUser">List Users</a>
    <a routerLink="/dash-view/addUser">Add Users</a>
  </div>
  <br>
  <button class="dropdown-btn">Manage Products<i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a routerLink="/dash-view/addProduct">Add Products</a>
    <a routerLink="/dash-view/listProduct">List Jeans </a>
    <a routerLink="/dash-view/listShirt">List Shirts </a>  
  </div>
  <br>
  <button class="dropdown-btn">Manage Blogs<i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a routerLink="/dash-view/listBlog">List Blogs </a>
    <a routerLink="/dash-view/addBlog">Add Blogs</a>
  </div>
  <br>
  <button class="dropdown-btn">Manage Comments<i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a routerLink="/dash-view/listComments">List Comments </a>
    <!-- <a routerLink="/dash-view/addCommemts">Add Comments</a> -->
  </div>
  <br>
  <br>
  <button type="button" style="margin-left:20px" class="w3-button w3-red w3-margin-bottom" (click)="logout()">Logout</button>
</div>