<head>    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<hr>
<h5 style="color:firebrick" class="glyphicon glyphicon-user" style="font-size:20px"> Welcome, {{name}}</h5>
<hr>
<img src="/assets/images/dash/dash5.jpg" alt="Jeans" style="width:100%">
<br>
<hr>
<!-- <img src="/assets/images/dash/user.jpg" alt="Jeans" style="width:100%">
<br> -->
<h3 color="grey"><b>#RecommendsAJIO</b></h3>
<h6>Show us your love @AJIOlife</h6>
<div class="container">    
<div class="row">
<div class="col-sm-3">
<img src="/assets/images/dash/dash1.jpg" alt="fashion images" style="width:100%">
</div>
<div class="col-sm-3">
<img src="/assets/images/dash/dash2.jpg" alt="fashion images" style="width:100%">
</div>
<div class="col-sm-3">
<img src="/assets/images/dash/dash3.jpg" alt="fashion images" style="width:100%">
</div>
<div class="col-sm-3">
<img src="/assets/images/dash/dash4.jpg" alt="fashion images" style="width:100%">
</div>
</div>
</div>
<hr>
<img src="/assets/images/dash/dash6.jpg" alt="fashion images" style="width:100%">
<hr>
<img src="/assets/images/dash/lable.jpg" alt="fashion images" style="width:100%">
<img src="/assets/images/dash/buynow.jpg" alt="fashion images" style="width:100%">
<hr>
<img src="/assets/images/dash/dashuser.jpg" alt="fashion images" style="width:100%">
<hr>
<img src="/assets/images/home/userdash2.jpeg" alt="fashion images" style="width:100%">
<hr>
<img src="/assets/images/dash/down.jpg" alt="fashion images" style="width:100%">

