<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    
  </style>
</head>
<body>
  <hr>
<div class="container">
  <h3 style="text-align:center"><b>Jeans</b></h3>
  <p>
    <font color="grey"><i>For the woman who likes to be active, we also have a collection of active wear tops. Choose
        from graphic printed tops, polo tops, tank tops, spaghetti tops, hooded tops and more. Quirky prints, cool
        slogans, trendy styling and more can be seen here.</i></font>
  </p>
  <br><hr>
  <div class="row">
    <br><br><br>
    <div class="col-sm-4" *ngFor="let a of products">
      <div class="panel panel-primary">
        <div class="panel-body"><img class="card-img-top" src="{{a.image}}" alt="Card image" alt="shirt images" style="height:100%">
        </div>
        <div class="panel-footer"><b>{{a.productdescription}}</b></div>
        <div class="panel-footer"><b>${{a.productcost}}</b></div>
        <br>
        <p style="text-align: center"><a [routerLink]="['/jeans-detail/jeans-view-detail',a._id]">Read More</a></p>
        <!-- <a href="#" class="btn btn-success">Buy Now</a>
        <a href="#" class="btn btn-primary">Add to Cart</a> -->
      </div>
    </div>
  </div>
</div>
  


</body>
</html>