<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    
  </style>
</head>
<body>
  <hr>
<div class="container">  
    <h3 style="text-align:center"><b>Tops</b></h3> 
    <p><font color="grey"><i>The quintessential wardrobe favourite meets the latest trends in AJIO collection of women’s tops. Browse through the fashionable, the fabulous, the racy, the ravishing, the utilitarian and the ultra-feminine in tops.</i></font> </p>  
<br><hr>
    <div class="row">
<div class="container-fluid">
  <div class="row">  
    <div class="col-sm-4" *ngFor="let a of products">
      <div class="panel panel-primary">
        <div class="panel-body"><img class="card-img-top" src="{{a.image}}" alt="Card image" alt="shirt images" style="height:100%" >
        </div>
        <div class="panel-footer"><b>{{a.productdescription}}</b></div>
        <div class="panel-footer"><b>${{a.productcost}}</b></div>
        <br>
        <p style="text-align: center"><a [routerLink]="['/shirt-detail/shirt-view-detail',a._id]">Read More</a></p>
        <!-- <a href="#" class="btn btn-success">Buy Now</a>
        <a href="#" class="btn btn-primary">Add to Cart</a>  -->
      </div>
    </div>
  </div>
    </div>
    </div>
    </div>
  


</body>
</html>
