  <br><br>  
    <p-table [value]="products" [paginator]="true" [rows]="4">
      <ng-template pTemplate="header">
          <tr>
                  <th>Title</th>
                  <th>Comments</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-a>
          <tr>
                  <td>{{ a.title }}</td>
                  <td><a [routerLink]="['/dash-view/commentDetails',a._id]" class="btn btn-success">List Comment </a> 
                 </td>
          </tr>
      </ng-template>
  </p-table>