<body background="/assets/images/home/payment.jpg">
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>
  <br><br><br><br><br><br><br>
  <form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout">
    <div class="form-row">
      <label for="card-info">Card Info</label>
      <div id="card-info" style="width: 500px;" #cardInfo></div>

      <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
    </div>

    <button type="submit">Total price: {{amount}}</button>
  </form>
</body>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

