<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body  background="/assets/images/home/blog.jpg">  
  <section>
    <div class="container-fluid">
      <!-- <div class="card"> -->
        <div class="card-body">
          <form [formGroup]="myform" (ngSubmit)="onsubmit()">
            
             <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="form-group">
                  <br><br>
                  <label><b> Title </b></label>
                  <input type="text" id="title" formControlName="title" maxlength="100"class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                            <div style="color:red" *ngIf="f.title.errors.required">Title is required</div>
                            <div style="color:red" *ngIf="f.title.errors.title">Title must be alphabet </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-8">
                  <div class="form-group">
                    <label><b> Blog Description </b></label>
                    <p-editor formControlName="blog" [style]="{'height':'320px'}"></p-editor>
                  </div>
                </div>
              </div> 
              
              <div class="row justify-content-center">
                <div class="col-md-8">
                  <div class="form-group">
                    <label><b>Image</b></label>
                    <input type="file" id="file" (change)="onFileChange($event)" #fileInput class="form-control" [ngClass]="{ 'is-invalid': submitted && f.file.errors }">
                    <img [src]="url" width="10%">
                    <div *ngIf="submitted && f.file.errors" class="invalid-feedback">
                              <div style="color:red" *ngIf="f.file.errors.required">Image must be add</div>
                          </div>
                  </div>
                </div>
              </div> 
              <br>
            <div class="row justify-content-center">
              <div class="form-group">
                <button style="margin-left:20px" type="submit" id="submit_btn" class="btn btn-primary"> Add </button>
              </div>
            </div>
          </form>
        </div>
      <!-- </div> -->
    </div>
  </section>
</body>
</html>